.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn-light {
  background-color: #fff;
  color: #057521;
}

.btn-primary,
.btn-light:hover {
  background-color: #2eb650;
  color: #fff;
}



